@font-face {
    font-family: "Pixelfont";
    src: url("fonts/Pixelfont/MonoRegular.woff2");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pixelfont";
    src: url("fonts/Pixelfont/MonoBold.woff2");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "SB";
    src: url("fonts/SB/MSBee-Thin.woff2");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "SB";
    src: url("fonts/SB/MSBee-Black.woff2");
    font-weight: bold;
    font-display: swap;
}